
body {
  background-color: #E2E2E2;
}
.container {
  width: 80%;
  background-color: #fff;
}
.header {
  width: 100%;
  height: 55.68px;
  position: absolute;
  background-color: #fff;
  box-shadow: 0 1px 5px #ccc;
}
.navbar-brand {
  font-size: 1.8rem;
  padding-top: 0;
}
.mb-3 {
  border-bottom: 1px solid #ccc;
}
.clearfix {
  width: 100%;
}
a {
  text-decoration: none;
  color: #778087;
}
a:hover {
  color: #4d5256;
  
}
.btn {
  background-color: #eeeeee;
  color: gray;
  width: 50px;
  height: 30px;
  font-size: 14px;
  line-height: 30px;
  padding: 0;
  border: 0;
  margin-right: 10px;
  border-radius: .5em;
}
.btn:hover {
  background-color: #cfcece;
  color: rgb(94, 93, 93);
}
.col a:hover {
  text-decoration: underline;
}
